<label for="example-label" class="form-label">Click here to focus</label>
<input type="text" class="form-control" value="html,css,js" id="example-label" />

<script>
  UseBootstrapTag(document.getElementById('example-label'))
</script>
