<div class="vstack gap-2">
  <input type="text" class="form-control example-sizing form-control-sm" value="html,css,js" />
  <input type="text" class="form-control example-sizing" value="html,css,js" />
  <input type="text" class="form-control example-sizing form-control-lg" value="html,css,js" />
</div>

<script>
  document.querySelectorAll('.example-sizing').forEach((input) => {
    UseBootstrapTag(input)
  })
</script>
