<div class="vstack gap-2">
  <input type="text" class="form-control example-variant" value="html,css,js" data-ub-tag-variant="primary" />
  <input type="text" class="form-control example-variant" value="html,css,js" data-ub-tag-variant="success" />
  <input type="text" class="form-control example-variant" value="html,css,js" data-ub-tag-variant="danger" />
  <input type="text" class="form-control example-variant" value="html,css,js" data-ub-tag-variant="warning" />
  <input type="text" class="form-control example-variant" value="html,css,js" data-ub-tag-variant="info" />
  <input type="text" class="form-control example-variant" value="html,css,js" data-ub-tag-variant="dark" />
  <input type="text" class="form-control example-variant" value="html,css,js" data-ub-tag-variant="light" />
</div>

<script>
  document.querySelectorAll('.example-variant').forEach((input) => {
    UseBootstrapTag(input)
  })
</script>
