// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/use-bootstrap-tag/scss/use-bootstrap-tag";

// Then add additional custom code here
